name: Lint

on:
  push:
    branches:
      - main
    paths:
      - 'deploy/**/*.sh'
      - '**/*.yml'
      - '**/*.yaml'
      - '.yamllint'
  pull_request:
    paths:
      - 'deploy/**/*.sh'
      - '**/*.yml'
      - '**/*.yaml'
      - '.yamllint'

permissions:
  contents: read

jobs:
  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38 # 2.0.0
        with:
          scandir: deploy
          severity: warning

  yamllint:
    name: YAML Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4

      - name: Run yamllint
        uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c # v3
        with:
          file_or_dir: .
          config_data: |
            extends: default
            rules:
              line-length:
                max: 200
              truthy:
                check-keys: false
              comments:
                min-spaces-from-content: 1
